<head>
  <!-- 引入css -->
  <link rel="stylesheet" href="/assets/2048/css/basic.css" />
  <link rel="stylesheet" href="/assets/2048/css/color.css" />
</head>
<div class="main">
  <!-- 标题 -->
  <div class="game_title">2048</div>
  <!-- 游戏介绍 -->
  <div class="info">
      使用方向键 操作游戏合成 <strong>2048</strong><br>
      <img src="/pictures/html/ArrowKey.png" width="100px" height="100px"><br>
      相同的数字会合并！
  </div>
  <!-- 新游戏按钮 -->
  <button class="new_game" onclick="gameInit()">新游戏</button>
  <!-- 网格容器 -->
  <div class="container">
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
    <div class="cell" ></div>
  </div>

  <!-- 测试 -->
  <!-- 
n2">2
n4">4
n2">2
n4">4
n4">4
n2">2
n4">4
n2">2
n2">2
n4">4
n2">2
n4">4
n4">4
n2">2
n4">4
n2">2
   -->
  <div class="cover" id="cover">
    <div class="result" id="result">游戏结束</div>
  </div>
</div>
<!-- 引入js -->
<script src="/assets/2048/js/main.js"></script>
