<!-- 猫猫装饰 -->
<!-- 猫猫头 -->
<img
  src="/assets/imgs/cat.png"
  alt=""
  class="cat"
  width="250px"
  height="250px"
  onclick="toTOp()"
/>
<!-- 眼睛 -->
<div class="eye">
  <div class="eyes"></div>
  <div class="eyes"></div>
</div>
<style>
    .cat {
    position: fixed;
    right: 0;
    bottom: 0;
    -webkit-user-drag: none;
    cursor: pointer;
  }
  /* 眼部矩形div */
  .eye {
    height: 50px;
    width: 140px;
    /* background-color: white; */
    position: fixed;
    bottom: 78px;
    right: 54px;
    display: flex;
    /* 从头到末尾均匀排列元素 */
    justify-content: space-between;
  }
  /* 瞳孔部分，半径25px，位置相对于右下角(54+25,78+25) (57+140-25,78+25),与眼眶间距4px*/
  .eyes {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
  }
</style>
<script>
    let eyes = document.querySelectorAll(".eyes"); //眼睛的dom元素
    // 鼠标位置
    document.onmousemove = function (event) {
      // 计算偏转位置距离
      var x =window.innerWidth-event.clientX-79
      var y =window.innerHeight-event.clientY-103
      var distance = Math.sqrt(x*x+y*y)
      //利用相似三角形
      var dx =-(4/distance)*x
      var dy =-(4/distance)*y
      eyes.forEach((item, index) => {
              item.style.transform = 'translate('+dx+'px,'+dy+'px'+')'
          })
    };
// 回到顶部方法计时动画
    function toTOp() {
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        let timer = setInterval(() => {
            scrollTop -= 100;
            window.scrollTo(0, scrollTop)
            if (scrollTop <= 0) {
                clearInterval(timer)
            }
        }, 16.7)
    }
  </script>