<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <!-- 底部描述标签 -->
      <h2 class="footer-heading">{{ site.footDesc | escape }}</h2>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {%- if site.email -%}
            <li>电子邮箱</li>
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
          <!-- 个人网站传送门 -->
          <div>
            <a href="https://nots.fun"  style="margin-left: 60px;">个人网站</a>
          </div>
    </div>

  </div>

</footer>
