<!-- 头部元数据引入 -->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- 标题 -->
  <title>{{ site.title }} | {{ site.description }}</title>
  <!-- 添加图标 -->
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/icons/favicon-16x16.png"
  />
  <!-- 引入css样式文件 -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <!-- 引入鼠标点击特效插件 -->
  <script src="/assets/plugins/cursor-heart.js"></script>
  <!-- 引入jquery -->
<script src="/assets/plugins/jquery-3.7.1.min.js"></script>
<!-- 引入目录插件 -->
<script src="/assets/plugins/toc.js" type="text/javascript"></script>
</head>
