<div class="loader_bg" id="loader_bg">
  <div class="emoji" id="loader_text">🍭</div>
</div>
<style>
  .loader_bg {
    width: 100%;
    height: 100%;
    background-color: #20a4a9;
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader {
    position: relative;
    top: 20%;
    width: 150px;
    height: 200px;
  }
  .emoji {
    font-size: 100px;
    animation: float 1.5s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
<script>
  $(document).ready(function () {
    getRandomLetter();
  });
  function getRandomLetter() {
    const emojis = [
      "🍕",
      "🍔",
      "🥙",
      "🍩",
      "🍰",
      "🍦",
      "🥟",
      "🍤",
      "🍓",
      "🍫",
      "🍊",
      "🍵",
      "🍭",
    ];
    const randomIndex = Math.floor(Math.random() * 13);
    document.getElementById("loader_text").innerHTML = emojis[randomIndex];
  }
  // 背景加载图
  window.onload = function () {
    $("#loader_bg").fadeOut();
  };
</script>
