.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}


/**
 * Posts 文章头部
 */
.post-header {
  margin-bottom: $spacing-unit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px dashed black;
  .post-meta{
    display: flex;
    time,.post-category{
      background-color: $grey-color;
      color: white;
      margin: 0 10px;
      padding:0 3px; 
    }
    time{
      &::before{
        content: "时间: ";
      }
    }
    .post-category{
    &::before{
      content: "分类: ";
    }
    }
  }
}

// 文章具体内容中的标题样式
.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 5px solid black;
  border-right: 5px solid black;
  &::after{
    content: "◾";
  }
  &::before{
   content: "◾";
  }
}


.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
  // 新段落开头
  p {
    &::before{
      content: "✏  ";
    }
  }
}

.post-end{
  width: 100%;
  border-top: 2px dashed black;
  margin-bottom: 2em;
  text-align: center;
}

// 主页文章目录显示
.articleList{
  border-bottom: 1px solid gray;
  transition: all 0.2s ease-in-out;
  &:hover{
    box-shadow: inset 10px 0 $blue-color;
  }
a{
  text-decoration: none;
  border-radius: 15px;
  color: $grey-color-dark;
  display: flex;
  -webkit-user-drag: none;
    .left{
      margin:10px 5px;
      width: 80%;
      border-radius: 5px;
      .excerpt{
        color: $grey-color;
        font-family: $base-font-family;
      }
    }
    .right{
      width: 20%;
      position: relative;
      font-size: 12px;
      // font-weight:bold;
      color: #393e46;
      .article-props{
        margin: 20px 0;
      }
    }
    &:hover{
    color: $blue-color;
    }
}
}

// 侧边栏样式
.side{
height: 100vh;
position: absolute;
width: 18%;
background-color: rgba(255, 255, 255, 0.705);
}

// 网站头部区域
.header{
  position: relative;
  height: 80px;
  margin-bottom: 30px;
  position: fixed;
  .banner{
    display: flex;
  }
}


// 分类文件夹
.categories{
  svg{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    &:hover{
      path{
        fill: $blue-color;
      }
    }
    margin-right: 10px;
  }
  h2{
    color: $blue-color;
    line-height: 20px;
    margin-left: 10px;
  }
  .category-contents{
    display: none;
    margin: 10px 0 20px 5em;
    span{
      color: $grey-color;
      cursor: pointer;
      &:hover{
        color: $blue-color;
      }
    }
  }
}




// 弹窗层
.mask{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #0000006f;
}

// 摘要栏
.excerpt{
  p{
    height: 30px;
    overflow: hidden;
  }
}

  //  文章区域加载背景图 
  .post_loader_bg{
    width: 50%;
    @include media-query($on-phone){
      display: none;
    }
  }

  // 左上头部提示条
  .header-tip{
    background-color: $grey-color;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    border: 3px solid $grey-color;
    @include media-query($on-phone){
      display: none;
    }
  }