


.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


// 主页文章目录显示,左右两栏
.articleList{
  border-bottom: 1px solid gray;
  &:hover{
    background-color:$card-white;
  }
a{
  text-decoration: none;
  color: $grey-color-dark;
  display: flex;
  -webkit-user-drag: none;
    .left{
      margin:10px 5px;
      width: 80%;
      border-radius: 5px;
      .excerpt{
        color: $grey-color
      }
    }
    .right{
      width: 20%;
      display: flex;
      position: relative;
      font-size: 12px;
      font-weight:bold;
      color: #393e46;
    }
}
}

// 侧边栏样式
.side{
height: 100vh;
position: absolute;
width: 18%;
background-color: rgba(255, 255, 255, 0.705);
}

// 网站头部区域
.header{
  position: relative;
  display: block;
  background-color: $card-white;
  height: 80px;
  width: 74%;
  left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
  .banner{
    display: flex;
  }
}

//搜索结果展示
.searchResult{
  position: fixed;
  left: 50%; top: 10%; 
  width: 40%;
  transform: translateX(-50%);
  background-color: white;
  display: block;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
  a{
    position: relative;
    display: flex;
    flex-direction: column;
    color: $grey-color-dark;
    text-decoration: none;
    background-color: white;
    width: 90%;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    margin: 10px 5%;
    h2{
      border-bottom: 1px solid gainsboro;
    }
  }
}