<!DOCTYPE html>
<!-- html元数据引入 -->
  {%- include head.html -%}
  <body >
        <!-- 加载动画层 -->
        {%- include loading.html -%}
    <!-- 头部区域 -->
      {%- include header.html -%}
    <!-- 主体内容区域 -->
    <main >
      <!-- 搜索结果区域 -->
      {%- include search.html -%}
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <!-- 猫猫装饰 -->
    {%- include cat.html -%}
    <!-- 每日一言 -->
    <div id="content"></div>
    <!-- 弹窗遮罩层 -->
<div class="mask" id="mask"></div>
  <!-- 弹窗组件 -->
  <div id="parts" style="display: none;">
    {%- include 2048.html -%}
  </div>
  </body>
</html>


<script>
  // 按钮跳转网页的功能
  function goSite(site) {
    window.location.href = site;
  }
  //获取每日一言
  $(function(){
    $.get("https://api.xygeng.cn/one",(res)=>{
      if(res.code===200)$("#content").text("✍"+res.data.content+"——"+res.data.origin)
    })
  })

// 判断是不是第一次点击
var isInit = true

  // 监听点击事件
  $("#mask").click(function(){
      // 隐藏遮罩层
      $("#mask").hide();
      $("#parts").hide();
    })
    $("#2048Btn").click(function(){
      // 展示遮罩层
      $("#mask").show();
      // 展示组件
      $("#parts").show();
      // 初始化
      if(isInit){
        gameInit();
        isInit = !isInit; 
      }
    })

</script>
