<!DOCTYPE html>
<!-- 引入鼠标点击特效 -->
<script src="/assets/plugins/cursor-heart.js"></script>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body >
    <!-- 头部标题区域 -->
    {%- include header.html -%}
    <!-- 主题内容区域 -->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <!-- 底部区域 -->
    {%- include footer.html -%}

    {%- include cat.html -%}
  </body>
</html>
<style>
  body{
    background-image:linear-gradient(-225deg,#9EFBD3 0%, #57E9F2 48%, #45D4FB 100%)
  }
  .wrapper{
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 15px;
    padding-top: 5px;
  }
</style>
