---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = "%Y-%m-%-d" -%}
        {{ page.date | date: date_format }}
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

  <!--侧边目录-->
  <div class="contents">
    <div id="toc"></div>
  </div>
<style>
</style>
<script type="text/javascript">
  $(document).ready(function() {
      $('#toc').toc();
  }); 
  </script>